venv/
__pycache__/
*.pyc
instance/
.env

# Logs
logs/
*.log

# Testing
test_app.py
pytest.ini
.pytest_cache/
.env.test
run_tests.py
TEST_FAILURES_ANALYSIS.md
htmlcov/
.coverage
*.coverage

# study
ROUTING.md
SECURITY.md
QUESTIONNAIRE.md
to do.txt
STUDY.md
ERROR_HANDLING_AND_LOGGING.md
DATABASE_BACKUP_GUIDE.md
MIGRATION_SETUP.md
#automate
update_forms_restful.py
add_csrf_tokens.py
migrate_passwords.py
#zip -r project.zip MVP_Project -x "venv/*" -x "__pycache__/*" -x "*.pyc" -x "*.pyo" -x "*.db" -x "*.log"