Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Mailman
psycopg2-binary
Flask-WTF
Flask-Cors
Flask-Login
Flask-JWT-Extended
Flask-RESTful
WTForms
SQLAlchemy
python-dotenv
requests
email-validator
uvicorn
gunicorn
