{% extends "auth/auth_base.html" %}
{% block title %}Verify OTP & Reset Password{% endblock %}

{% block content %}
<h2>Verify OTP & Reset Password</h2>
<form method="POST" action="{{ url_for('auth.verify_otp') }}">        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>    <label for="otp">Enter OTP</label>
    <input type="text" name="otp" required placeholder="6-digit OTP">

    <label for="new_password">New Password</label>
    <input type="password" name="new_password" required placeholder="New password">

    <button type="submit">Reset Password</button>
</form>

<a href="{{ url_for('auth.login_page') }}">Back to Login</a>
{% endblock %}
