{% extends "auth/auth_base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<h2>Forgot Password</h2>
<form method="POST" action="{{ url_for('auth.forgot_password') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="email">Enter your email</label>
    <input type="email" name="email" required placeholder="you@example.com">

    <button type="submit">Reset Password</button>
</form>

<a href="{{ url_for('auth.login_page') }}">Back to Login</a>
{% endblock %}
